@mixin until($width) {
     @media (max-width: $width) {
          @content;
     }
}

@mixin from($width) {
     @media (min-width: $width) {
          @content;
     }
}

@mixin between($from, $to) {
     @media (min-width: $from) and (max-width: $to) {
          @content;
     }
}

@mixin flex($display, $justify, $align) {
     display: $display;
     justify-content: $justify;
     align-items: $align;
}

@mixin size($width, $height: $width) {
     width: $width;
     height: $height;
}

@mixin button {
     width: 100%;
     border: none;
     border-radius: 5px;
     font-size: 14px;
     color: $white;
     padding: 1rem;
     background-color: $brand-color-2;

     &:hover {
          background-color: $brand-color-3;
          cursor: pointer;
     }
}

@mixin input {
     margin-bottom: 15px;
     font-size: 16px;
     color: $brand-color-4;
     border: 1px solid #00000029;
     background-color: transparent;
     border-radius: 5px;
     padding: 2px 10px;

     &:focus {
          border-color: $brand-color-2;
     }
}

@mixin authPage {
     &__container {
          @include flex(flex, center, center);
          height: 100vh;
          background-color: $brand-color-1;
     }

     &__container-inner {
          position: relative;
          top: -50px;
          width: 100%;
          text-align: center;
          margin: 0 20px;

          @include from(425px) {
               width: 360px;
          }
     }

     &__title {
          font-weight: 600;
          font-size: 30px;
     }

     &__form {
          display: flex;
          flex-direction: column;

          .input {
               display: flex;

               input {
                    @include input;
                    @include size(100%, 40px);
               }
          }
     }

     &__content {
          &__bottom {
               margin: 20px 0;
               display: flex;
               justify-content: space-between;
          }
     }

     &__link {
          font-size: 14px;
          color: $brand-color-2;

          &:hover {
               color: $brand-color-3;
          }
     }

     &__submit {
          @include button;
          text-transform: uppercase;
     }
}
